mat-card {
    height: 100%;
    background-color: #fff;
    margin: 1vh;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

td.left {
    text-align: left !important;
}

td.right {
    text-align: right !important;
}
.mat-sort-header-container {
    justify-content: center !important;
}